In [193]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [194]:
data = pd.read_csv("train.csv")

In [195]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [196]:
X = data.drop(["SalePrice","Heating"],axis=1)
y = data.SalePrice

In [197]:
X_objects = X[["Street", "Neighborhood", "KitchenQual", "Functional", "CentralAir"]]
X_numerical = X.select_dtypes(exclude=["object"])

In [198]:
X_objects.count() # Street Neighborhood KitchenQual Functional CentralAir Heating

Street          1460
Neighborhood    1460
KitchenQual     1460
Functional      1460
CentralAir      1460
dtype: int64

In [199]:
X_objects_one_hot = pd.get_dummies(X_objects)

In [200]:
X_objects_one_hot

,Street_Grvl,Street_Pave,Neighborhood_Blmngtn,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,...,KitchenQual_TA,Functional_Maj1,Functional_Maj2,Functional_Min1,Functional_Min2,Functional_Mod,Functional_Sev,Functional_Typ,CentralAir_N,CentralAir_Y
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1456,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
1457,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1458,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1459,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,1

In [201]:
X_numerical.count()
si = SimpleImputer()

In [202]:
X_numerical_imputed = pd.DataFrame(si.fit_transform(X_numerical))

In [203]:
X_numerical_imputed.columns = X_numerical.columns

In [204]:
X_numerical_imputed.count()

Id               1460
MSSubClass       1460
LotFrontage      1460
LotArea          1460
OverallQual      1460
OverallCond      1460
YearBuilt        1460
YearRemodAdd     1460
MasVnrArea       1460
BsmtFinSF1       1460
BsmtFinSF2       1460
BsmtUnfSF        1460
TotalBsmtSF      1460
1stFlrSF         1460
2ndFlrSF         1460
LowQualFinSF     1460
GrLivArea        1460
BsmtFullBath     1460
BsmtHalfBath     1460
FullBath         1460
HalfBath         1460
BedroomAbvGr     1460
KitchenAbvGr     1460
TotRmsAbvGrd     1460
Fireplaces       1460
GarageYrBlt      1460
GarageCars       1460
GarageArea       1460
WoodDeckSF       1460
OpenPorchSF      1460
EnclosedPorch    1460
3SsnPorch        1460
ScreenPorch      1460
PoolArea         1460
MiscVal          1460
MoSold           1460
YrSold           1460
dtype: int64

In [205]:
sc = StandardScaler()

In [206]:
#X_numerical_imputed_scaled = pd.DataFrame(sc.fit_transform(X_numerical_imputed))

In [207]:
#X_numerical_imputed_scaled.columns = X_numerical_imputed.columns

In [208]:
#X_numerical_imputed_scaled

In [209]:
#X_ready = X_numerical_imputed_scaled
X_ready = X_numerical_imputed

In [210]:
X_ready[X_objects_one_hot.columns]=X_objects_one_hot

In [211]:
X_ready

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,KitchenQual_TA,Functional_Maj1,Functional_Maj2,Functional_Min1,Functional_Min2,Functional_Mod,Functional_Sev,Functional_Typ,CentralAir_N,CentralAir_Y
0,1.0,60.0,65.0,8450.0,7.0,5.0,2003.0,2003.0,196.0,706.0,...,0,0,0,0,0,0,0,1,0,1
1,2.0,20.0,80.0,9600.0,6.0,8.0,1976.0,1976.0,0.0,978.0,...,1,0,0,0,0,0,0,1,0,1
2,3.0,60.0,68.0,11250.0,7.0,5.0,2001.0,2002.0,162.0,486.0,...,0,0,0,0,0,0,0,1,0,1
3,4.0,70.0,60.0,9550.0,7.0,5.0,1915.0,1970.0,0.0,216.0,...,0,0,0,0,0,0,0,1,0,1
4,5.0,60.0,84.0,14260.0,8.0,5.0,2000.0,2000.0,350.0,655.0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456.0,60.0,62.0,7917.0,6.0,5.0,1999.0,2000.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,1
1456,1457.0,20.0,85.0,13175.0,6.0,6.0,1978.0,1988.0,119.0,790.0,...,1,0,0,1,0,0,0,0,0,1
1457,1458.0,70.0,66.0,9042.0,7.0,9.0,1941.0,2006.0,0.0,275.0,...,0,0,0,0,0,0,0,1,0,1
1458,1459.0,20.0,68.0,9717.0,5.0,6.0,1950.0,1996.0,0.0,49.0,...,0,0,0,0,0,0,0,1,0,1
1459,1460.0,20.0,75.0,9937.0,5.0,6.0,1965.0,1965.0,0.0,830.0,...,1,0,0,0,0,0,0,1,0,1

In [212]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [281]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, cross_validate,KFold,LeaveOneOut

In [ ]:
loo = LeaveOneOut()
model = LinearRegression()

In [ ]:
scores = cross_validate(model,X_ready,y,cv=15)
#model.fit(X_ready,y)
scores.mean()

In [215]:
test = pd.read_csv("test.csv")

In [216]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [217]:
X_test_objects = test[["Street", "Neighborhood", "KitchenQual", "Functional", "CentralAir"]]
X_test_numerical = test.select_dtypes(exclude=["object"])
X_test_objects_one_hot = pd.get_dummies(X_test_objects)
X_test_numerical_imputed = pd.DataFrame(si.fit_transform(X_test_numerical))
X_test_numerical_imputed.columns = X_test_numerical.columns
#X_test_numerical_imputed_scaled = pd.DataFrame(sc.fit_transform(X_test_numerical_imputed))
#X_test_numerical_imputed_scaled.columns = X_test_numerical_imputed.columns
#X_test_ready = X_test_numerical_imputed_scaled
X_test_ready = X_test_numerical_imputed
X_test_ready[X_test_objects_one_hot.columns]=X_test_objects_one_hot

In [223]:
pred = model.predict(X_test_ready)

In [224]:
X_test_ready

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,KitchenQual_TA,Functional_Maj1,Functional_Maj2,Functional_Min1,Functional_Min2,Functional_Mod,Functional_Sev,Functional_Typ,CentralAir_N,CentralAir_Y
0,1461.0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,468.0,...,1,0,0,0,0,0,0,1,0,1
1,1462.0,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,923.0,...,0,0,0,0,0,0,0,1,0,1
2,1463.0,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,791.0,...,1,0,0,0,0,0,0,1,0,1
3,1464.0,60.0,78.0,9978.0,6.0,6.0,1998.0,1998.0,20.0,602.0,...,0,0,0,0,0,0,0,1,0,1
4,1465.0,120.0,43.0,5005.0,8.0,5.0,1992.0,1992.0,0.0,263.0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915.0,160.0,21.0,1936.0,4.0,7.0,1970.0,1970.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,1
1455,2916.0,160.0,21.0,1894.0,4.0,5.0,1970.0,1970.0,0.0,252.0,...,1,0,0,0,0,0,0,1,0,1
1456,2917.0,20.0,160.0,20000.0,5.0,7.0,1960.0,1996.0,0.0,1224.0,...,1,0,0,0,0,0,0,1,0,1
1457,2918.0,85.0,62.0,10441.0,5.0,5.0,1992.0,1992.0,0.0,337.0,...,1,0,0,0,0,0,0,1,0,1
1458,2919.0,60.0,74.0,9627.0,7.0,5.0,1993.0,1994.0,94.0,758.0,...,1,0,0,0,0,0,0,1,0,1

In [264]:
pd.DataFrame(pred, columns=["SalePrice"]).to_csv("submission.csv",columns=["SalePrice"],index=True,index_label="Id")

In [265]:
data = pd.read_csv("submission.csv")

In [269]:
data["Id"] = data["Id"].apply(lambda x: x+ 1461)

In [272]:
data.to_csv("submission_kg.csv",index=False)